 .u-section-1 {
     background-image: none;
 }
 
 .u-section-1 .u-sheet-1 {
     min-height: 360px;
 }
 
 .u-section-1 .u-text-1 {
     font-size: 6rem;
     font-weight: 700;
     margin: 70px 103px 0;
 }
 
 @media (max-width: 1199px) {
     .u-section-1 .u-text-1 {
         margin-left: 3px;
         margin-right: 3px;
     }
 }
 
 @media (max-width: 991px) {
     .u-section-1 .u-text-1 {
         font-size: 4.5rem;
         margin-left: 0;
         margin-right: 0;
     }
 }
 
 @media (max-width: 767px) {
     .u-section-1 .u-text-1 {
         font-size: 3.75rem;
     }
 }
 
 @media (max-width: 575px) {
     .u-section-1 .u-sheet-1 {
         min-height: 255px;
     }
     .u-section-1 .u-text-1 {
         font-size: 1.875rem;
     }
 }
 
 .u-section-2 .u-sheet-1 {
     min-height: 810px;
 }
 
 .u-section-2 .u-list-1 {
     width: 840px;
     grid-template-rows: repeat(3, auto);
     margin: 1px auto 0 133px;
 }
 
 .u-section-2 .u-repeater-1 {
     grid-template-columns: repeat(1, 100%);
     min-height: 785px;
     grid-gap: 10px;
 }
 
 .u-section-2 .u-container-layout-1 {
     padding: 30px 30px 67px;
 }
 
 .u-section-2 .u-icon-1 {
     height: 64px;
     width: 64px;
     margin: 16px 20px 0;
 }
 
 .u-section-2 .u-text-1 {
     font-size: 1.125rem;
     margin: -64px 0 0 115px;
 }
 
 .u-section-2 .u-container-layout-2 {
     padding: 30px 30px 67px;
 }
 
 .u-section-2 .u-icon-2 {
     height: 64px;
     width: 64px;
     margin: 16px 20px 0;
 }
 
 .u-section-2 .u-text-2 {
     font-size: 1.125rem;
     margin: -64px 0 0 115px;
 }
 
 @media (max-width: 1199px) {
     .u-section-2 .u-list-1 {
         height: auto;
         margin-left: 100px;
     }
 }
 
 @media (max-width: 991px) {
     .u-section-2 .u-list-1 {
         width: 720px;
         margin-left: 0;
     }
     .u-section-2 .u-container-layout-1 {
         padding-bottom: 30px;
     }
     .u-section-2 .u-text-1 {
         margin-top: 20px;
         margin-left: 0;
     }
     .u-section-2 .u-container-layout-2 {
         padding-bottom: 30px;
     }
     .u-section-2 .u-text-2 {
         margin-top: 20px;
         margin-left: 0;
     }
 }
 
 @media (max-width: 767px) {
     .u-section-2 .u-list-1 {
         width: 540px;
     }
     .u-section-2 .u-container-layout-1 {
         padding-left: 10px;
         padding-right: 10px;
     }
     .u-section-2 .u-text-1 {
         margin-top: -64px;
         margin-left: 115px;
     }
     .u-section-2 .u-container-layout-2 {
         padding-left: 10px;
         padding-right: 10px;
     }
     .u-section-2 .u-text-2 {
         margin-top: -64px;
         margin-left: 115px;
     }
 }
 
 @media (max-width: 575px) {
     .u-section-2 .u-list-1 {
         width: 340px;
     }
 }
 
 .u-section-3 {
     background-image: none;
 }
 
 .u-section-3 .u-sheet-1 {
     min-height: 245px;
 }
 
 .u-section-3 .u-text-1 {
     font-size: 6rem;
     letter-spacing: 0px;
     font-weight: 700;
     text-transform: none;
     margin: 80px auto 0 0;
 }
 
 .u-section-3 .u-text-2 {
     font-weight: 300;
     letter-spacing: 0px;
     font-size: 1rem;
     margin: 20px auto 0 0;
 }
 
 @media (max-width: 1199px) {
     .u-section-3 .u-sheet-1 {
         min-height: 360px;
     }
 }
 
 @media (max-width: 991px) {
     .u-section-3 .u-sheet-1 {
         min-height: 255px;
     }
 }
 
 @media (max-width: 767px) {
     .u-section-3 .u-text-1 {
         font-size: 3.75rem;
     }
     .u-section-3 .u-text-2 {
         margin-bottom: -22px;
     }
 }
 
 @media (max-width: 575px) {
     .u-section-3 .u-sheet-1 {
         min-height: 235px;
     }
     .u-section-3 .u-text-1 {
         font-size: 1.875rem;
     }
     .u-section-3 .u-text-2 {
         margin-bottom: -154px;
     }
 }
 
 .u-section-4 .u-sheet-1 {
     min-height: 191px;
 }
 
 .u-section-4 .u-group-1 {
     width: 800px;
     min-height: 130px;
     height: auto;
     margin: 40px auto 0;
 }
 
 .u-section-4 .u-container-layout-1 {
     padding: 9px 30px;
 }
 
 .u-section-4 .u-text-1 {
     font-weight: 700;
     margin: 16px auto 0;
 }
 
 @media (max-width: 1199px) {
     .u-section-4 .u-group-1 {
         height: auto;
     }
 }
 
 @media (max-width: 991px) {
     .u-section-4 .u-group-1 {
         width: 720px;
     }
 }
 
 @media (max-width: 767px) {
     .u-section-4 .u-group-1 {
         width: 540px;
     }
     .u-section-4 .u-container-layout-1 {
         padding-left: 10px;
         padding-right: 10px;
     }
 }
 
 @media (max-width: 575px) {
     .u-section-4 .u-group-1 {
         width: 340px;
     }
 }
 
 .u-section-5 .u-sheet-1 {
     min-height: 481px;
 }
 
 .u-section-5 .u-list-1 {
     margin-top: 22px;
     margin-bottom: 21px;
 }
 
 .u-section-5 .u-repeater-1 {
     grid-template-columns: repeat(1, 100%);
     min-height: 436px;
     grid-gap: 10px;
 }
 
 .u-section-5 .u-container-layout-1 {
     padding: 0 0 30px;
 }
 
 .u-section-5 .u-image-1 {
     width: 233px;
     height: 233px;
     background-image: url("images/member/pic1.jpeg");
     background-position: 50% 50%;
     margin: 50px auto 0;
 }
 
 .u-section-5 .u-text-1 {
     margin: 21px 20px 0 0;
 }
 
 .u-section-5 .u-text-2 {
     font-weight: 700;
     font-size: 1.875rem;
     margin: 15px 10px 0;
 }
 
 @media (max-width: 1199px) {
     .u-section-5 .u-repeater-1 {
         grid-template-columns: 100%;
     }
     .u-section-5 .u-text-1 {
         margin-right: 0;
     }
     .u-section-5 .u-text-2 {
         margin-left: 0;
         margin-right: 0;
     }
 }
 
 .u-section-6 .u-sheet-1 {
     min-height: 151px;
 }
 
 .u-section-6 .u-group-1 {
     width: 800px;
     min-height: 130px;
     height: auto;
     margin: 0 auto;
 }
 
 .u-section-6 .u-container-layout-1 {
     padding: 24px 30px;
 }
 
 .u-section-6 .u-text-1 {
     font-weight: 700;
     margin: 0 auto;
 }
 
 @media (max-width: 1199px) {
     .u-section-6 .u-group-1 {
         height: auto;
     }
 }
 
 @media (max-width: 991px) {
     .u-section-6 .u-group-1 {
         width: 720px;
     }
 }
 
 @media (max-width: 767px) {
     .u-section-6 .u-group-1 {
         width: 540px;
     }
     .u-section-6 .u-container-layout-1 {
         padding-left: 10px;
         padding-right: 10px;
     }
 }
 
 @media (max-width: 575px) {
     .u-section-6 .u-group-1 {
         width: 340px;
     }
 }
 
 .u-section-7 .u-sheet-1 {
     min-height: 516px;
 }
 
 .u-section-7 .u-list-1 {
     margin-top: 40px;
     margin-bottom: 40px;
 }
 
 .u-section-7 .u-repeater-1 {
     grid-template-columns: repeat(2, calc(50% - 5px));
     min-height: 339px;
     grid-gap: 10px;
 }
 
 .u-section-7 .u-container-layout-1 {
     padding: 0 0 30px;
 }
 
 .u-section-7 .u-image-1 {
     width: 233px;
     height: 233px;
     background-image: url("images/member/pic2.jpeg");
     background-position: 50% 50%;
     margin: 50px auto 0;
 }
 
 .u-section-7 .u-text-1 {
     margin: 21px 20px 0 0;
 }
 
 .u-section-7 .u-text-2 {
     font-weight: 700;
     font-size: 1.875rem;
     margin: 15px 10px 0;
 }
 
 .u-section-7 .u-list-item-2 {
     background-image: none;
     --animation-custom_in-translate_x: 0px;
     --animation-custom_in-translate_y: 0px;
     --animation-custom_in-opacity: 0;
     --animation-custom_in-rotate: 180deg;
     --animation-custom_in-scale: 1;
 }
 
 .u-section-7 .u-container-layout-2 {
     padding: 0 0 30px;
 }
 
 .u-section-7 .u-image-2 {
     width: 233px;
     height: 233px;
     background-image: url("images/member/pic3.jpeg");
     background-position: 50% 50%;
     margin: 50px auto 0;
 }
 
 .u-section-7 .u-text-3 {
     margin: 21px 20px 0 0;
 }
 
 .u-section-7 .u-text-4 {
     font-weight: 700;
     font-size: 1.875rem;
     margin: 15px 10px 0;
 }
 
 @media (max-width: 1199px) {
     .u-section-7 .u-repeater-1 {
         min-height: 280px;
     }
     .u-section-7 .u-text-1 {
         margin-right: 0;
     }
     .u-section-7 .u-text-2 {
         margin-left: 0;
         margin-right: 0;
     }
     .u-section-7 .u-text-3 {
         margin-right: 0;
     }
     .u-section-7 .u-text-4 {
         margin-left: 0;
         margin-right: 0;
     }
 }
 
 @media (max-width: 991px) {
     .u-section-7 .u-repeater-1 {
         grid-template-columns: 100%;
     }
 }
 
 .u-section-8 .u-sheet-1 {
     min-height: 436px;
 }
 
 .u-section-8 .u-list-1 {
     width: 1140px;
     margin: 0;
 }
 
 .u-section-8 .u-repeater-1 {
     grid-template-columns: repeat(2, calc(50% - 5px));
     min-height: 400px;
     grid-gap: 10px;
 }
 
 .u-section-8 .u-container-layout-1 {
     padding: 0 0 30px;
 }
 
 .u-section-8 .u-image-1 {
     width: 233px;
     height: 233px;
     background-image: url("images/member/pic4.jpeg");
     background-position: 50% 50%;
     margin: 51px auto 0;
 }
 
 .u-section-8 .u-text-1 {
     margin: 20px 20px 0 0;
 }
 
 .u-section-8 .u-text-2 {
     font-weight: 700;
     font-size: 1.875rem;
     margin: 15px 10px 0;
 }
 
 .u-section-8 .u-list-item-2 {
     background-image: none;
     --animation-custom_in-translate_x: 0px;
     --animation-custom_in-translate_y: 0px;
     --animation-custom_in-opacity: 0;
     --animation-custom_in-rotate: 180deg;
     --animation-custom_in-scale: 1;
 }
 
 .u-section-8 .u-container-layout-2 {
     padding: 0 0 30px;
 }
 
 .u-section-8 .u-image-2 {
     width: 233px;
     height: 233px;
     background-image: url("images/member/pic5.jpeg");
     background-position: 50% 50%;
     margin: 51px auto 0;
 }
 
 .u-section-8 .u-text-3 {
     margin: 20px 20px 0 0;
 }
 
 .u-section-8 .u-text-4 {
     font-weight: 700;
     font-size: 1.875rem;
     margin: 15px 10px 0;
 }
 
 @media (max-width: 1199px) {
     .u-section-8 .u-list-1 {
         width: 940px;
     }
     .u-section-8 .u-repeater-1 {
         min-height: 330px;
     }
     .u-section-8 .u-text-1 {
         margin-right: 0;
     }
     .u-section-8 .u-text-2 {
         margin-left: 0;
         margin-right: 0;
     }
     .u-section-8 .u-text-3 {
         margin-right: 0;
     }
     .u-section-8 .u-text-4 {
         margin-left: 0;
         margin-right: 0;
     }
 }
 
 @media (max-width: 991px) {
     .u-section-8 .u-list-1 {
         width: 720px;
     }
     .u-section-8 .u-repeater-1 {
         grid-template-columns: 100%;
     }
 }
 
 @media (max-width: 767px) {
     .u-section-8 .u-list-1 {
         width: 540px;
     }
 }
 
 @media (max-width: 575px) {
     .u-section-8 .u-list-1 {
         width: 340px;
     }
 }
 
 .u-section-9 .u-sheet-1 {
     min-height: 191px;
 }
 
 .u-section-9 .u-group-1 {
     width: 800px;
     min-height: 130px;
     height: auto;
     margin: 40px auto 0;
 }
 
 .u-section-9 .u-container-layout-1 {
     padding: 24px 30px;
 }
 
 .u-section-9 .u-text-1 {
     font-weight: 700;
     margin: 0 auto;
 }
 
 @media (max-width: 1199px) {
     .u-section-9 .u-group-1 {
         height: auto;
     }
 }
 
 @media (max-width: 991px) {
     .u-section-9 .u-group-1 {
         width: 720px;
     }
 }
 
 @media (max-width: 767px) {
     .u-section-9 .u-group-1 {
         width: 540px;
     }
     .u-section-9 .u-container-layout-1 {
         padding-left: 10px;
         padding-right: 10px;
     }
 }
 
 @media (max-width: 575px) {
     .u-section-9 .u-group-1 {
         width: 340px;
     }
 }
 
 .u-section-10 .u-sheet-1 {
     min-height: 515px;
 }
 
 .u-section-10 .u-list-1 {
     margin-top: 40px;
     margin-bottom: 40px;
 }
 
 .u-section-10 .u-repeater-1 {
     grid-template-columns: repeat(1, 100%);
     min-height: 339px;
     grid-gap: 10px;
 }
 
 .u-section-10 .u-container-layout-1 {
     padding: 0 0 30px;
 }
 
 .u-section-10 .u-image-1 {
     width: 233px;
     height: 233px;
     background-image: url("images/member/pic6.jpeg");
     background-position: 50% 50%;
     margin: 51px auto 0;
 }
 
 .u-section-10 .u-text-1 {
     margin: 20px 20px 0 0;
 }
 
 .u-section-10 .u-text-2 {
     font-weight: 700;
     font-size: 1.875rem;
     margin: 15px 10px 0;
 }
 
 @media (max-width: 1199px) {
     .u-section-10 .u-repeater-1 {
         grid-template-columns: 100%;
     }
     .u-section-10 .u-text-1 {
         margin-right: 0;
     }
     .u-section-10 .u-text-2 {
         margin-left: 0;
         margin-right: 0;
     }
 }
 
 .u-section-11 {
     background-image: none;
 }
 
 .u-section-11 .u-sheet-1 {
     min-height: 245px;
 }
 
 .u-section-11 .u-text-1 {
     font-size: 6rem;
     letter-spacing: 0px;
     font-weight: 700;
     text-transform: none;
     margin: 80px auto 0 0;
 }
 
 .u-section-11 .u-text-2 {
     font-weight: 300;
     letter-spacing: 0px;
     font-size: 1rem;
     margin: 20px auto 20px 0;
 }
 
 @media (max-width: 1199px) {
     .u-section-11 .u-text-2 {
         margin-bottom: 0;
     }
 }
 
 @media (max-width: 991px) {
     .u-section-11 .u-sheet-1 {
         min-height: 255px;
     }
 }
 
 @media (max-width: 767px) {
     .u-section-11 .u-text-1 {
         font-size: 3.75rem;
     }
     .u-section-11 .u-text-2 {
         margin-bottom: -22px;
     }
 }
 
 @media (max-width: 575px) {
     .u-section-11 .u-sheet-1 {
         min-height: 235px;
     }
     .u-section-11 .u-text-1 {
         font-size: 1.875rem;
     }
     .u-section-11 .u-text-2 {
         margin-bottom: -154px;
     }
 }
 
 .u-section-12 .u-sheet-1 {
     min-height: 354px;
 }
 
 .u-section-12 .u-text-1 {
     text-transform: uppercase;
     margin: 60px auto 0;
 }
 
 .u-section-12 .u-text-2 {
     margin: 20px auto 0;
 }
 
 .u-section-12 .u-text-3 {
     line-height: 1.8;
     width: 680px;
     margin: 20px auto 60px;
 }
 
 @media (max-width: 767px) {
     .u-section-12 .u-text-3 {
         width: 540px;
     }
 }
 
 @media (max-width: 575px) {
     .u-section-12 .u-text-3 {
         width: 340px;
     }
 }
 
 .u-section-13 {
     background-image: none;
 }
 
 .u-section-13 .u-sheet-1 {
     min-height: 245px;
 }
 
 .u-section-13 .u-text-1 {
     font-size: 6rem;
     letter-spacing: 0px;
     font-weight: 700;
     text-transform: none;
     margin: 80px auto 0 0;
 }
 
 .u-section-13 .u-text-2 {
     font-weight: 300;
     letter-spacing: 0px;
     font-size: 1rem;
     margin: 20px auto 20px 0;
 }
 
 @media (max-width: 1199px) {
     .u-section-13 .u-text-2 {
         margin-bottom: 0;
     }
 }
 
 @media (max-width: 991px) {
     .u-section-13 .u-sheet-1 {
         min-height: 360px;
     }
 }
 
 @media (max-width: 767px) {
     .u-section-13 .u-sheet-1 {
         min-height: 300px;
     }
     .u-section-13 .u-text-1 {
         font-size: 3.75rem;
     }
     .u-section-13 .u-text-2 {
         margin-bottom: -22px;
     }
 }
 
 @media (max-width: 575px) {
     .u-section-13 .u-sheet-1 {
         min-height: 331px;
     }
     .u-section-13 .u-text-1 {
         font-size: 1.875rem;
     }
     .u-section-13 .u-text-2 {
         margin-bottom: -154px;
     }
 }
 
 .u-section-14 .u-sheet-1 {
     min-height: 697px;
 }
 
 .u-section-14 .u-text-1 {
     margin: 41px auto 0;
 }
 
 .u-section-14 .u-text-2 {
     width: 680px;
     margin: 24px auto 0;
 }
 
 .u-section-14 .u-image-1 {
     width: 433px;
     height: 300px;
     margin: 131px auto 0 0;
 }
 
 .u-section-14 .u-image-2 {
     width: 456px;
     height: 301px;
     margin: -390px 0 0 342px;
 }
 
 .u-section-14 .u-image-3 {
     width: 449px;
     height: 300px;
     margin: -211px 0 0 691px;
 }
 
 .u-section-14 .u-btn-1 {
     background-image: none;
     border-style: none;
     font-weight: 700;
     margin: 40px auto 47px;
     padding: 13px 56px;
 }
 
 @media (max-width: 1199px) {
     .u-section-14 .u-text-1 {
         margin-left: 130px;
     }
     .u-section-14 .u-image-1 {
         width: 394px;
     }
     .u-section-14 .u-image-2 {
         width: 462px;
         margin-right: auto;
         margin-left: 239px;
     }
     .u-section-14 .u-image-3 {
         width: 390px;
         margin-left: auto;
     }
 }
 
 @media (max-width: 991px) {
     .u-section-14 .u-text-1 {
         margin-left: 20px;
     }
     .u-section-14 .u-image-2 {
         width: 394px;
         height: 293px;
         margin-right: 19px;
         margin-left: auto;
     }
     .u-section-14 .u-image-3 {
         width: 393px;
         height: 317px;
         margin-right: 20px;
     }
 }
 
 @media (max-width: 767px) {
     .u-section-14 .u-text-1 {
         margin-left: 0;
     }
     .u-section-14 .u-text-2 {
         width: 540px;
     }
     .u-section-14 .u-image-1 {
         margin-top: 17px;
         margin-left: -1px;
     }
     .u-section-14 .u-image-2 {
         margin-top: -43px;
         margin-right: 0;
     }
     .u-section-14 .u-image-3 {
         margin-top: -44px;
         margin-right: auto;
         margin-left: -1px;
     }
 }
 
 @media (max-width: 575px) {
     .u-section-14 .u-sheet-1 {
         min-height: 483px;
     }
     .u-section-14 .u-text-2 {
         width: 340px;
     }
     .u-section-14 .u-image-1 {
         height: 246px;
         width: 301px;
         margin-top: 20px;
         margin-left: 0;
     }
     .u-section-14 .u-image-2 {
         width: 316px;
         height: 234px;
         margin-top: -21px;
     }
     .u-section-14 .u-image-3 {
         height: 243px;
         width: 301px;
         margin-top: -27px;
         margin-bottom: 45px;
         margin-left: 0;
     }
 }
 
 .u-section-15 .u-sheet-1 {
     min-height: 865px;
 }
 
 .u-section-15 .u-text-1 {
     margin: 61px auto 0;
 }
 
 .u-section-15 .u-text-2 {
     width: 746px;
     margin: 20px auto 0;
 }
 
 .u-section-15 .u-gallery-1 {
     height: 552px;
     margin-top: 30px;
     margin-bottom: 0;
     grid-gap: 17px;
 }
 
 .u-section-15 .u-gallery-inner-1 {
     grid-template-columns: repeat(3, auto);
     grid-gap: 17px;
 }
 
 .u-section-15 .u-over-slide-1 {
     background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
     padding: 20px;
 }
 
 .u-section-15 .u-over-slide-2 {
     background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
     padding: 20px;
 }
 
 .u-section-15 .u-over-slide-3 {
     background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
     padding: 20px;
 }
 
 .u-section-15 .u-over-slide-4 {
     background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
     padding: 20px;
 }
 
 .u-section-15 .u-over-slide-5 {
     background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
     padding: 20px;
 }
 
 .u-section-15 .u-over-slide-6 {
     background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
     padding: 20px;
 }
 
 .u-section-15 .u-btn-1 {
     background-image: none;
     border-style: none;
     font-weight: 700;
     margin: 41px auto 45px;
     padding: 13px 56px;
 }
 
 @media (max-width: 1199px) {
     .u-section-15 .u-sheet-1 {
         min-height: 768px;
     }
     .u-section-15 .u-gallery-1 {
         height: 455px;
     }
 }
 
 @media (max-width: 991px) {
     .u-section-15 .u-sheet-1 {
         min-height: 1097px;
     }
     .u-section-15 .u-text-2 {
         width: 720px;
     }
     .u-section-15 .u-gallery-1 {
         height: 784px;
     }
     .u-section-15 .u-gallery-inner-1 {
         grid-template-columns: repeat(2, auto);
     }
 }
 
 @media (max-width: 767px) {
     .u-section-15 .u-sheet-1 {
         min-height: 2665px;
     }
     .u-section-15 .u-text-2 {
         width: 540px;
     }
     .u-section-15 .u-gallery-1 {
         height: 2352px;
     }
     .u-section-15 .u-gallery-inner-1 {
         grid-template-columns: repeat(1, auto);
     }
 }
 
 @media (max-width: 575px) {
     .u-section-15 .u-sheet-1 {
         min-height: 1794px;
     }
     .u-section-15 .u-text-2 {
         width: 340px;
     }
     .u-section-15 .u-gallery-1 {
         height: 1481px;
     }
 }
 
 .u-section-16 .u-sheet-1 {
     min-height: 697px;
 }
 
 .u-section-16 .u-image-1 {
     width: 449px;
     height: 300px;
     margin: 261px 0 0 691px;
 }
 
 .u-section-16 .u-text-1 {
     margin: -520px auto 0;
 }
 
 .u-section-16 .u-text-2 {
     width: 680px;
     margin: 24px auto 0;
 }
 
 .u-section-16 .u-image-2 {
     width: 456px;
     height: 301px;
     margin: 41px 0 0 342px;
 }
 
 .u-section-16 .u-image-3 {
     width: 433px;
     height: 300px;
     margin: -211px auto 0 0;
 }
 
 .u-section-16 .u-btn-1 {
     background-image: none;
     border-style: none;
     font-weight: 700;
     font-size: 1rem;
     margin: 40px auto 20px;
     padding: 13px 56px;
 }
 
 @media (max-width: 1199px) {
     .u-section-16 .u-image-1 {
         width: 390px;
         margin-left: auto;
     }
     .u-section-16 .u-text-1 {
         margin-left: 130px;
     }
     .u-section-16 .u-image-2 {
         width: 462px;
         margin-right: auto;
         margin-left: 239px;
     }
     .u-section-16 .u-image-3 {
         width: 394px;
     }
 }
 
 @media (max-width: 991px) {
     .u-section-16 .u-image-1 {
         width: 393px;
         height: 317px;
         margin-top: 253px;
         margin-right: 20px;
     }
     .u-section-16 .u-text-1 {
         margin-top: -529px;
         margin-left: 20px;
     }
     .u-section-16 .u-image-2 {
         width: 394px;
         height: 293px;
         margin-right: 19px;
         margin-left: auto;
     }
     .u-section-16 .u-image-3 {
         margin-top: -203px;
     }
     .u-section-16 .u-btn-1 {
         margin-top: 105px;
     }
 }
 
 @media (max-width: 767px) {
     .u-section-16 .u-image-1 {
         margin-top: 679px;
         margin-right: auto;
         margin-left: -1px;
     }
     .u-section-16 .u-text-1 {
         margin-top: -955px;
         margin-left: 0;
     }
     .u-section-16 .u-text-2 {
         width: 540px;
     }
     .u-section-16 .u-image-2 {
         margin-top: 274px;
         margin-right: 0;
     }
     .u-section-16 .u-image-3 {
         margin-top: -550px;
         margin-left: -1px;
     }
     .u-section-16 .u-btn-1 {
         margin-top: 619px;
     }
 }
 
 @media (max-width: 575px) {
     .u-section-16 .u-sheet-1 {
         min-height: 483px;
     }
     .u-section-16 .u-image-1 {
         height: 243px;
         width: 301px;
         margin-top: 595px;
         margin-left: 0;
     }
     .u-section-16 .u-text-1 {
         margin-top: -797px;
     }
     .u-section-16 .u-text-2 {
         width: 340px;
     }
     .u-section-16 .u-image-2 {
         width: 316px;
         height: 234px;
         margin-top: 245px;
     }
     .u-section-16 .u-image-3 {
         height: 246px;
         width: 301px;
         margin-top: -459px;
         margin-left: 0;
     }
     .u-section-16 .u-btn-1 {
         margin-top: 525px;
     }
 }